body {
  font-family: "Courier New", Courier, monospace;
}

#title h1 {
  text-align: center;
  margin: 2%;
}

#title {
  grid-column: 1;

  grid-row: 1;
}

#navigation {
  grid-column: 1;
  grid-row: 2;
}
